.modal.fade#show-relationship-modal{ aria: { hidden: true,
  labbelledby: "show-relationship-modal-title" },
  role: "dialog",
  tabindex: "-1" }
  .modal-dialog.modal-dialog-centered.justify-content-center{role: "document"}
    .modal-content.followers-modal
      .modal-header.py-2
        %h5.modal-title#show-relationship-modal-title
          フォロワー
        %button.close{ aria: { label: "Close" },
                       data: { dismiss: "modal" },
                       type: "button" }
          %span{ aria: { hidden: true } } ×
      .modal-body.follower-list#user-list
