%nav.navbar.navbar-white.py-2.fixed-top
  .container
    %h1
      %a.navbar-brand.mr-0{ href: "/" }
        = image_tag('header-logo.png',
          alt: 'BOOKLABO',
          class: 'header-logo')
    %form.form-inline.d-none.d-sm-inline
      .input-group
        %input.form-control.form-control-sm{ type: "search",
         placeholder: '本のタイトル・著者名' }
        .input-group-append
          .input-group-text{ style: 'background-color: #fff;' }
            %i.fas.fa-search
    %ul.navbar-nav
      %li.nav-item
        %a.nav-link{ href: "#" }
          %i.fas.fa-user-circle.fa-2x
      %li.nav-item.pl-1
        %a.nav-link{ href: "#" }
          %i.fas.fa-cog.fa-2x
.search-form.bg-white.d-sm-none.py-4
  .container
    %form.form-inline.px-4
      .input-group
        %input.form-control{ type: "search",
               placeholder: '本のタイトル・著者名' }
        .input-group-append
          .input-group-text{ style: 'background-color: #fff;' }
            %i.fas.fa-search
