= form_with(url: search_books_path,
  data: {remote: false},
  method: :get) do |f|
  .input-group
    = f.search_field(:keyword,
      placeholder: '本のタイトル・著者名',
      class: 'form-control form-control-sm')
    = hidden_field_tag(:page, 0)
    .input-group-append
      %button.input-group-text.bg-white{ type: 'submit' }
        %i.fas.fa-search.text-muted
