.search-main
  .container
    .search-result.card
      %h1.card-header
        検索結果
      .card-body.row
        - 16.times do
          .search-item.card.col-md-3.border-0
            %img.card-img-top{ src: "https://picsum.photos/100" }
            .search-item-body.card-body
              %h5.card-title
                すベてがFになる (講談社文庫)
              .card-text
                森博嗣
