@import "config/variables";

.search-result {
  margin: 0 auto;
  max-width: 700px;

  .card-header {
    background-color: $white;
    color: $gray-9;
    font-size: 14px;
    font-weight: bold;
  }

  .card-img-top {
    padding: 10px 0;
    width: 100px;
  }

  .search-item-body {
    padding: 10px;
  }
}

@media screen and (max-width: 575px) {
  .search-main {
    margin: 20px 0;
  }
}

@media screen and (min-width: 576px) {
  .search-main {
    margin: 120px 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .search-item {
    flex-direction: row;

    .card-title {
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 768px) {
  .search-result {
    .card-img-top {
      margin: 0 auto;
    }

    .card-title,
    .card-text {
      color: $gray-6;
      font-size: 0.75rem;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
}

.page-link {
  text-align: center;
  transition: 0.2s ease;
  width: 38px;

  &:hover {
    background-color: $gray-9;
    color: $white;
  }
}

.pagination-text {
  color: $gray-6;
  font-size: 0.8rem;
  text-align: center;
}

.add-book-cover {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 0 auto -160px;
  position: relative;
  width: 100px;
}

.add-book {
  background-color: $white;
  border: 1px solid $gray-b;
  border-radius: 5px;
  color: $black-3;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 0 auto 0;
  padding: 5px;
  text-align: center;
  visibility: hidden;
}
