$theme-colors: (
  "primary": #999,
  "danger": #ff4136
);

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "tempusdominus-bootstrap-4.css";
@import "shared/header";
@import "shared/main";
@import "books/search";
@import "devise/sign-up";
@import "devise/sign-in";
@import "users/show";
