$theme-colors: (
  "primary": #999,
  "danger": #ff4136
);

@import "bootstrap";
@import "tempusdominus-bootstrap-4";
@import "shared/header";
@import "shared/main";
@import "books/search";
@import "books/show-review-modal";
@import "devise/sign-up";
@import "devise/sign-in";
@import "users/show";
@import "users/edit";
