@import "config/variables";

button:focus {
  outline: none;
}

.navbar,
.search-form {
  background-color: $white;
  border-bottom: 1px solid $gray-d;

  .form-control {
    background-color: $bg-white;
    height: 38px;
    text-align: center;
    width: 190px;
    z-index: 10;

    &:active,
    &:focus {
      background-color: $white;
      border-color: $gray-d;
      box-shadow: none;
      text-align: left;
    }

    .input-group {
      color: $gray-9;
      display: flex;
      flex-wrap: nowrap;
    }

    .input-group-text {
      opacity: 0.5;
    }
  }
}

.navbar-nav {
  flex-direction: row;

  .fas {
    border-radius: 50%;
    color: $gray-b;
    padding: 7px;

    &:hover,
    &:active {
      color: #fff;
      background-color: #ccc;
      transition: 0.8s;
    }
  }
}

.search-form {
  margin-top: 80px;
}

@media screen and (max-width: 575px) {
  .header-logo {
    height: 43px;
  }
}

@media screen and (min-width: 576px) {
  .header-logo {
    height: 50px;
  }
}
